@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
.getInvolvedbanner {
    height: 500px;
    width: 100%;
    background-image: url('../image/NewImage/garden.webp');
    background-size: cover;
    margin-top: 100px;
    
  }
  .getInvolvedbanner h1 {
    color:#ffffff;
    text-align: center;
    padding-top: 220px;
    font-size: 90px;
  }
.getInvolvedContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.getInvolvedBlock {
    flex: 1;
    padding: 30px 20px;
    background-color: #AFDCE7;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.getInvolvedBlock h3 {
    margin-bottom: 10px;
    font-size: 30px;
}

.getInvolvedBlock p {
    font-size: 25px;
    color: #666;
}
.newsTitleInvolve {
    width: 100%;
    height: 200px;
    background-color: #3b9da6;
    color: #fcc846;
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
    margin-top: 100px;
}

@media (max-width: 600px) {
    .newsTitleInvolve{
        height: 10vh;
        font-size: 15px;
    }
    .getInvolvedContainer {
        flex-direction: column;
        align-items: center;
    }
}