form {
    background-color: #009da8;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column; 
    line-height: 3;
  }

  input[type="text"], input[type=tel], input[type=email] {
    width: 60%;    /* Set to 80% of the container width */
    font-size: 1em;  /* Increase font size */
    padding: 5px;   /* Padding to give space inside the input */
    border-radius: 10px;
    border: transparent;
}
  
  input[type=date], input[type=time] {
    color: rgb(92, 92, 92);
    border: transparent !important;
    height: 3vh;
    width: 20% !important;
    margin-top: 20px;
    border-radius: 10px;
  }

  input[type=file]{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input::file-selector-button {
    background-image: linear-gradient(
      to right,
      #ff7a18,
      #ffb20d,
      #319197 100%,
      #319197 200%
    );
    background-position-x: 0%;
    background-size: 200%;
    border: 0;
    border-radius: 8px;
    color: #fff;
    padding: 1rem 1.25rem;
    text-shadow: 0 1px 1px #333;
    transition: all 0.25s;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  input::file-selector-button:hover {
    background-position-x: 100% !important;
  }
  
  select {
    height: 45px;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: rgb(92, 92, 92);
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 65%;
    margin-bottom: 10px;
  }
  
  /* Customize the appearance of the dropdown arrow */
  select::-ms-expand {
    display: none;
  }
  
  /* Add some space between label and dropdown */
  label select {
    margin-top: 5px;
  }
  
  /* Add a hover effect */
  select:hover {
    background-color: #f5f5f5;
  }
  
  /* Add a focus effect */
  select:focus {
    outline: none;
    border: 1px solid #009da8;
    box-shadow: 0 0 5px rgba(0, 157, 168, 0.5);
  }
  
  /* Style options in the dropdown */
  select option {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
  }
  
  /* Style the selected option */
  select option:checked {
    background-color: #009da8;
    color: white;
  }
  
  
  .file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20vh;
    line-height: 1.4;
    margin: 0 auto;
    flex-direction: column; 
    border: 1px dashed rgba(255, 255, 255, 0.779);
    border-radius: 3px;
    transition: 0.2s;
    &.is-active {
      background-color: rgb(102, 178, 176);
    }
  }
  
  .file-msg {
    font-size: medium;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  .subheading {
    word-spacing: 3px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'SF FONT bold';    
  }
  
  .pagelayout {
    background-color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    object-fit: contain;   
    margin-top: 100px;
    margin-bottom: 100px; 
  }

  
  
  
  .notes {
    font-size: 16px;
    white-space: pre-wrap;
    max-width: 600px;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, sans-serif;
  }
  
  .importantNote{
    color: rgb(173, 255, 164);
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .important {
    text-decoration: underline;
    color: rgb(198, 0, 0);
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .thank-you-dialog {
    position: fixed;
    top: 60%;
    left: 50%;
    width: 700px;
    height: 60vh;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #333; 
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'SF FONT bold';  
  }
  
  .thank-you-dialog > p {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    text-align: center; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    align-items: center; /* Center text horizontally */
    margin: 0;
    font-family: 'SF FONT bold';  
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Semi-transparent black background */
    z-index: 999; /* Make sure it's above other content */
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  body.fixed {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .review-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-y: auto;
  }
  
  
  .review-section > h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Choose a color that fits your design */
  }
  
  .review-section > h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Choose a color that fits your design */
  }
  
  .review-section >ul {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .review-section li {
    margin-bottom: 10px;
  }
  
  .review-section strong {
    margin-right: 10px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .review-section p {
    font-size: 17px;
  }
  
  .review-section img {
    display: block;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;  
  }
  
  .signature-section{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  button {
    background-color: #017f88;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #015f65;
  }
  
  .review-button{
    background-color:#009da8 !important;
    color: white !important;
    margin: 20px !important;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5vh;
  }
  
  .button-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .time-label{
    margin: 10px;
  }
  
  .requires{
    color: red;
  }
  
  .form-button{
    color: #009da8 !important;
    background-color: white !important;
    margin-right: 20px !important;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .review-table {
    border: none;
    width: 100%;
    text-align: left;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .review-table td {
    padding: 5px;
    vertical-align: top;
  }
  
  
  @media screen and (max-width:1300px) {

    .form{
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .review-section{
      overflow-y: auto;
      padding-top: 5vh;
      width: 95%;
    }
    .review-section > h2{
      font-size: 1.7em;
      font-family: 'SF FONT bold'; 
      margin-bottom: 40px;
    }
  
    .review-section > ul {
      font-size: 1em;
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Align items to the start of the flex container */
    }
    
    .review-section li {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #ccc; /* Add a border at the bottom of each list item */
      padding-bottom: 10px; /* Add some padding for better spacing */
    }
    
    .review-section strong {
      margin-right: 10px;
      font-family: 'SF FONT bold'; 
      font-weight: bold;
    }
  
    .review-section p {
      font-family: Arial, sans-serif; 
    }
  
  
    .review-button{
      width: 25%;
    }
  }
  