@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
@font-face {
    font-family: 'SF FONT regular'; 
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

/* popup animation */
@keyframes popUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

.pageContainer {
    width: 100%;
}

.content {
    background-color: #000000;
    font-family: 'SF FONT regular', Arial, sans-serif;
    color:#D89D5B;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    top: 80px;
}

.swiper-container{
    /* background-image: url('../image/Frontpage1.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    text-align: center;
    margin-top: 150px;
    border-radius: 80px;

}

.swiper {
    width: auto;
    height: auto;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    margin-right: 10px;
    max-width: 100%;
    max-height: 400px;
    min-height: 125px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.background-container {
    background-color: #a2daeba6;
    padding: 20px;
}
  
.split-container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
  
.split-container .text-part {
    flex: 1;
    padding: 0px 2%;
    font-size: 26px;
    color: rgb(194, 32, 32);
    font-family: 'SF FONT bold', sans-serif; 
    line-height: 2; 
    color: #D89D5B;
    text-shadow: 2px 2px 4px #f1fa63;
    align-self: center;
}
  
.split-container .image-part {
    flex: 1;
    padding: 20px;
}
  
.image-part img {
    animation: popUp 1s ease-out; 
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

@media screen and (max-width: 900px) {
    .split-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .split-container .text-part {
        flex: 1;
        padding: 10px;
        font-size: 1em;
        line-height: 1.5; 
    }
}



