@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
/* For animation of drop menu*/
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}


.navBar{
    /*background-color: #AFDCE7;*/
    background-color: #3b9da6;
    border-radius:80px;
	/* border: solid #ff0000 2px; */
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    top: 100px;
    z-index: 1000; 
    position: relative; 
    text-decoration: none; 
}

.navBar table {
	margin-left: auto;
	margin-right: auto;
	/* color: #D89D5B; */
    color: #f1fa63;
	font-family: 'SF FONT bold', Arial, sans-serif;
    font-size: 15pt;
    

	text-align: center;
	width: 100%;
	border-collapse: collapse;
    /* font-style: italic; */
    

}

.navBar td {
	/* border: solid #000 1px; */
    position: relative;
	width: 160px;
    /*width: 10vw;*/

}

.navBar td:hover{
	color: #5bf4ff;
    transition: transform 1s, color 1s; 
}

.dropdownContent {
    display: none;
    /* background-color: #15ac9f; */
    background-color:#b2e5e4;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); 
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;   
}

.dropdownContent td {
    padding: 12px 16px;
    color: #f1fa63;
}

.dropdownContent td:hover {
    background-color: #fdfdfd;
}

td:hover .dropdownContent {
    display: block;
    opacity: 1; 
    visibility: visible; 
    animation: slideFade 0.3s forwards; 
}

.navBar .dropdownContent a {
    text-decoration: none;

    color:#FFFFFF;
}

.navBar a {
    text-decoration: none;
    color: #f1fa63;
}

.navBar a:hover {
    color:#5bf4ff;
    transition: transform 1s, color 1s; 
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    margin-left: 15px;
  }
  
  .hamburger-menu.active + table {
    display: none;
  }
  
  .hamburger-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3b9da6;
    width: 100%;
    border-radius: 10px;
  }
  
  .hamburger-content.active {
    display: flex;
  }
  
  .hamburger-content a {
    padding: 12px 16px;
    color: #f1fa63;
    text-decoration: none;
  }
  
  
  @media (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }
  
    .navBar table {
      display: none;
    }
  }
/*
@media (max-width: 768px) {
    .navBar.mobile {
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
    }
  
    .navBar.mobile.hamburger-menu {
      display: block;
     
    }
  
    .navBar.mobile table {
      display: none;
    }
  }
*/
/*
@media only screen and (max-width: 768px) {
    .navBar table {
      font-size: 12pt;
      width: 100%;
    }
    .navBar td {
      width: auto;
      padding: 8px;
    }
    .navBar {
      overflow-x: auto;
      white-space: nowrap;
    }
    .dropdownContent {
      min-width: auto;
      width: 100%;
    }
  }
*/
