.socialMediaLinks {
    display: flex;
    align-items: center;
    position: absolute; 
    top: 35px;       
    right: 130px;     
/*
    top: 37px;
    right: 82px;
*/
}

.socialMediaLinks i {
    margin: 0 20px; 
    font-size: 40px;
    cursor: pointer;
    color: #3b9da6;
    text-decoration: none;
    transition: transform 0.5s, color 0.5s;
}

.socialMediaLinks i:hover {
    color: #5bf4ff;
    transition: transform 0.7s, color 0.7s; 
}

@media screen and (max-width: 950px) {

    .socialMediaLinks {
        top: 50px; 
        right: 70px; 
    }

    .socialMediaLinks i {

        margin: 0 12px; 

        font-size: 30px; 
    }
}

@media screen and (max-width: 600px) {
    .socialMediaLinks {
        top: 16px; 
        right: 48px;
    }

    .socialMediaLinks i {
        margin: 0 12px; 
        font-size: 30px; 
    }
}

@media screen and (max-width: 500px) {
    .socialMediaLinks {
        top: 25px; 
        right: 58px; 
    }

    .socialMediaLinks i {
        margin: 10 20px; 
        font-size: 35px; 
    }
}