@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
/* For animation of drop menu*/
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.sponserSection {
    padding-bottom: 40px;
    text-align: center;
    position: relative;

}

.sponserTitle{
    /* background-color: #AFDCE7; */
    background-color: #3b9da6;

    /* color: #D89D5B; */
    color: #f1fa63;

    font-family: 'SF FONT bold';
    font-size: 30px;
    padding: 0.02px;
    

}

.sponserlogo{
    margin: top 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    position: relative; 
}

.sponserlogo table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.sponserlogo td {
	width: 275px;
}

@media screen and (max-width: 768px) {
    .sponserTitle h1{
        font-size: 100%; 
      }

    .sponserlogo img {
        width: auto; 
        height: auto; 
    }

    .sponserlogo table, 
    .sponserlogo tr, 
    .sponserlogo td {
        width: 100%; 
        display: block; 
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 500px) {
    .sponserlogo img {
        width: 30%; 
        height: auto; 
    }
}
