.page {
    margin-left: 25px;
    margin-right: 25px;
}

.logo {
    background-color: rgba(255, 255, 255, 0);
    text-align: auto;
    position: absolute; 
    top: 0px;   
    left: 40px; 
}


.logo img {
    max-width: 100%; 
    max-height: 100px;
}

.title {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'SF FONT bold', Arial, sans-serif;
    /* color: #D89D5B; */
    color: #3b9da6;

    padding: 20px;
    font-size: 46px;
    position: absolute; 
    top: 13px;   
    left: 160px;          
    
}
@media screen and (max-width: 950px) {
    .page {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo {
        top: 0cqi;
        left: 20px;
    }

    .logo img {
        max-height: 100px; 
    }
    .title {
        font-size: 28px;
        top: 30px;
        left: 140px;
    }
}

@media screen and (max-width: 600px) {
    .page {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo {
        top: 5px;
        left: 5px;
    }


    .logo img {

        max-width: 50%;
    }

    .title {
        font-size: 25px;
        top: 0px;
        left: 70px;
    }
}

@media screen and (max-width: 500px) {
    .page {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo {
        top: 5px;
        left: 5px;
    }


    .logo img {
        max-width: 40%; 
    }

    .title {
        font-size: 15px;
        top: 0px;
        left: 50px;
    }
}