@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}

/* For animation of drop menu*/
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
.userMenuContainer {
    position: absolute;
    top: 30px;
    right: 70px;
/*
    top: 33px;
    right: 30px;
*/

    z-index: 1001;
}

.userIcon {
    color: #3b9da6;

    font-size: 40px;
    cursor: pointer;
}

.dropdownMenu {
    background-color: #3b9da6;
    position: absolute;
    top: 100%;
    left: 40%;
    width: 140px;
    border-radius: 10px;
    animation: slideFade 0.3s forwards; 
    transform-origin: top left; /* 缩放的基准点在左上角 */
}

.menuItem {
    font-family: 'SF FONT bold', Arial, sans-serif;
    padding: auto;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: auto;
	margin-right: auto;
    font-size: 13pt;
	text-align: center;
	width: auto;
	border-collapse: collapse; 
}


.menuItem td {
    padding: 12px 16px;
    color: #f1fa63;

}

.menuItem tr:hover {
    background-color: #B2E5E4;
}

.menuLoginButton {
    font-family: 'SF FONT bold', Arial, sans-serif;
    font-size: medium;
    color: #FFFFFF;
    cursor: pointer;
    border: solid #0a2455 0px;
    background-color: #8cbeb400;
}

.menuItem a{
    text-decoration: none;
    color: #f1fa63;
}


.menuItem a:hover {
    color:#5bf4ff;
    transition: transform 1s, color 1s; 
}

@media screen and (max-width: 950px) {
    .userMenuContainer {
        right: 30px; /* 调整右边距以适应小屏幕 */
        top: 50px;
    }

    .userIcon {
        font-size: 30px; /* 进一步缩小图标大小 */
    }

    .dropdownMenu {
        width: 300%;
    }

    .menuItem {
        font-size: 1pt; /* 进一步缩小字体大小 */
    }
}

@media screen and (max-width: 600px) {
    .userMenuContainer {
        right: 10px; /* 调整右边距以适应小屏幕 */
        top: 15px;
    }

    .userIcon {
        font-size: 27px; /* 进一步缩小图标大小 */
    }

    .dropdownMenu {
        width: 300%;
        height: 50px;
    }

    .menuItem {
        font-size: 0.5em;
        transform: scale(0.8);
        transform-origin: top left; 
    }
}

@media screen and (max-width: 500px) {
    .userIcon {
        font-size: 19px; /* 进一步缩小图标大小 */
    }
}