@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}

/* For animation of drop menu*/
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
.userMenuContainer {
    position: absolute;
    top: 34px;
    right: 70px;
    z-index: 1001;
}

.userIcon {
    color: #3b9da6;
    font-size: 40px;
    cursor: pointer;
}

.login-button{
    background-color: #3b9da6;
}

@media screen and (max-width: 950px) {
    .userMenuContainer {
        right: 30px; /* 调整右边距以适应小屏幕 */
        top: 50px;
    }

    .userIcon {
        font-size: 30px; /* 进一步缩小图标大小 */
    }

    .dropdownMenu {
        width: 300%;
    }

    .menuItem {
        font-size: 1pt; /* 进一步缩小字体大小 */
    }
}

@media screen and (max-width: 600px) {
    .userMenuContainer {
        right: 10px; /* 调整右边距以适应小屏幕 */
        top: 25px;
    }

    .userIcon {
        font-size: 27px; /* 进一步缩小图标大小 */
    }

    .menuItem {
        padding: 10px 16px;
        font-size: 0.5em;
        transform: scale(0.8);
        transform-origin: top left; 
    }
}

@media screen and (max-width: 400px) {
    .userMenuContainer {
        right: 10px; /* 调整右边距以适应小屏幕 */
        top: 25px;
    }

    .userIcon {
        font-size: 25px; /* 进一步缩小图标大小 */
    }

    .menuItem {
        padding: 10px 16px;
        font-size: 0.5em;
        transform: scale(0.8);
        transform-origin: top left; 
    }
}
