@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
.roomHirebanner {
    height: 500px;
    width: 100%;
    background-image: url('../image/NewImage/g5.webp');
    background-size: cover;
    margin-top: 100px;
  }
  .roomHirebanner h1 {
    color:#ffffff;
    text-align: center;
    padding-top: 220px;
    font-size: 90px;
  }
/* .newsTitleHire {
    width: 100%;
    height: 200px;
    background-color: #3b9da6;
    color: #fcc846;
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
    margin-top: 100px;
} */

.roomHireContainer {
    margin: 30px;
}

.roomRow {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.imageContainer {
    flex: 1;
    padding-right: 5%;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.textContainer {
    flex: 2;
}

.textContainer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.textContainer p {
    font-size: 30px;
    color: #666;
    margin-bottom: 10px;
}

.textContainer button {
    background-color: #3b9da6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.textContainer button:hover {
    background-color: #AFDCE7;
}

.behindText {
    text-align: left;
    margin-top: 3vh; /* 调整文字与房间区块之间的间距 */
    font-size: 20px;
    color: #3b9da6;
}
.buttonContainer {
    display: flex;
    justify-content: center; /* 居中排列按钮 */
    margin-top: 5vh; /* 调整按钮与房间区块之间的间距 */
}

.downloadButton {
    background-color: #3b9da6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5vh; /* 调整按钮之间的间距 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.downloadButton:hover {
    background-color: #AFDCE7;
}

@media screen and (max-width: 800px) {
    .newsTitleHire{
        height: 15vh;
        font-size: 20px;
    }
    .textContainer p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .behindText {
        font-size: 15px;
    }
    .textContainer button {
        padding: 5px 10px;
    }
}
@media screen and (max-width: 450px) {
    .newsTitleHire{
        height: 10vh;
        font-size: 15px;
    }
    .textContainer p{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .behindText {
        font-size: 10px;
    }
    .textContainer button {
        padding: 5px 10px;
    }
}