@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
@font-face {
    font-family: 'SF FONT regular'; 
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
} 

.ContactSection {
    width: 100%;
    margin: auto;
    text-align: left;  
    margin-top: 4%;
    padding: 50px;
}

.ContactSection h2 {
    margin-bottom: 5px;  
    text-align: center;
    width: 100%;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;  
    align-items: center;  
}
/*
.ContactSection {
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

.ContactSection h2 {
    margin-bottom: 5px;  
    text-align: center;
    float: left;
} 


.info-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} 
*/

.addressInfo {
    width: 30%;  
    font-family: 'SF FONT regular', Arial, sans-serif;
    text-align: left;
    float: left;
} 

.addressInfo h3,
.addressInfo p,
.addressInfo address {
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
}

.addressInfo a {
    color: #007BFF;
    text-decoration: none;
}

/*
.subscription-form {
    width: 20%;  
    margin-left: -787px;
    margin-top: 5%;
    margin-bottom: 5%;
} 

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: inline-block;
    width: 80px; 
    margin-bottom: 8px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
*/

.FeedbackForm {
    padding: 50px;
}

/*
.feedbackform-group {
    margin-bottom: 20px;
}

.feedbackform-group label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.feedbackform-group input,
.feedbackform-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.feedbackform-group textarea {
    height: 100px;
    resize: vertical;
} */

.FeedbackForm button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.FeedbackForm button:hover {
    background-color: #42f0bb;
}

@media (max-width: 768px) {
    .addressInfo {
        width: 100%;
    }
}