/* .toolBar {
  flex-direction: column;
  height: 100vh;
  width: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.toolBar {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toolBar button {
  padding: 0.5em 1em;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
}

.toolBar button:hover {
  background-color: #45a049;
}

.loadedSectionContainer{
  width: 100%;
  height: calc(100vh - 10px);
  margin-left: 20px;
  overflow-y: auto;
  transform: scale(98%);
}

.loadedSectionContainer :link {
  pointer-events: none;
} */

/* Adjust container to accommodate the new toolBar and topBar */
/* .container {
  margin-left: 0px;
  margin-top: 60px;
} */

/* Adding a topBar for page switching */
/* .topBar {
  display: flex;
  justify-content: space-around;
  background-color: #c7c2c2;
  padding: 1em;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0;
  z-index: 1;
}

.sectionList button{
  background-color:#52c2d6;
  border-radius: 10px;
  font-family: 'SF FONT bold', Arial, sans-serif;
  font-size: 15pt;
	text-align: center;
  padding: 7px;
  margin-left: 7px;
  width: 150px;
}

.exitEditor {
  position: fixed;  
  top: 20px;        
  right: 10px;      
  z-index: 1000;
}

.container {
  padding-top: 60px;  
  padding-left: 60px; 
}

.saveButton {
  color:#3b9da6;
  font-size: 28px;
  transition: transform 0.5s, color 0.5s;
  cursor: pointer;
}
  
.saveButton:hover {
  color: #5bf4ff;
}

.deleteButton {
  color:#3b9da6;
  font-size: 28px;
  transition: transform 0.5s, color 0.5s;
  cursor: pointer;
}

.deleteButton:hover {
  color: #5bf4ff;
} */
