.membership {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* .membership-card {
    width:70%;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
} */

@media screen and (max-width: 768px) {
    .membership-content-main {
        width: 100%;
        height: 92%;
        position: absolute;
        top: 8%;
        /* left:50%;
        top: 50%;
        transform: translate(-50%, -50%); */
        background-color: #D1FBFC;
        padding: 0px;
    }

    .membership-card {
        width:95%;
        height: 70%;
        position: absolute;
        left: 50%;
        top: 52%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        color: #ffffff;
    }

    /* .personal-info {
        width: 90%;
        height: 75%;
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translate(-50%, -50%);
    } */

    .personal-content{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
    }

    .personal-info {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* .membership-card {
        width:70%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
    } */

    .form-item {
        margin-bottom: 3px;
    }

    .drawersider {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
    }

    .save-button {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
    }

    .list-container-admin {
        width:90%;
        height: 75%;
        position: absolute;
        left: 50%;
        top: 58%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .membership-content-main {
        width: 70%;
        height: 100%;
        position: absolute;
        right: 0%;
        background-color: #D1FBFC;
    }

    .personal-content{
        width: 100%;
        height: 80%;
        position: absolute;
        top: 10%;
        left: 0%;
    }

    .personal-info {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .membership-card {
        width:70%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
    }

    .list-container-admin {
        width:90%;
        height: 76%;
        position: absolute;
        left: 50%;
        top: 58%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 992px) {
    .membership-content-main {
        width: 78%;
        height: 100%;
        position: absolute;
        right: 0%;
        background-color: #D1FBFC;
    }

    .personal-content{
        width: 80%;
        height: 80%;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .personal-info {
        width: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .membership-card {
        width:70%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
    }

    .list-container-admin {
        width:90%;
        height: 76%;
        position: absolute;
        left: 48%;
        top: 58%;
        transform: translate(-50%, -50%);
    }
}

/* .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.save-button {
    background-color: #368771;
}

.save-button:hover {
    background-color: #368771;
    border-color: #368771;
}

.left-align {
    text-align: left;
}
