.register-jump {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .register-jump-container {
        width: 90%;
        height: 420px;
    }

    .result-body {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .register-jump-container {
        width: 70%;
        height: 340px;
    }

    .result-body {
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .register-jump-container {
        width: 60%;
        height: 80%;
    }
    
    .result-body {
        width: 90%;
    }
}

.register-jump-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #D1FBFC;
}

.result-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

