@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
@font-face {
    font-family: 'SF FONT regular'; 
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

/* For animation of drop menu*/
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.BottomPart {
    background-image: url('../image/contactbg.webp');
    font-family: 'SF FONT bold', Arial, sans-serif;
    font-size: 30px;
    color:#eb1515;
    background-size: cover;
    padding: 40px;
    text-align: center;
    position: relative;
}

.editFeature {
    position: absolute;
    color:#3b9da6;
    right: 30px; 
    bottom: 25px;
    transition: transform 0.5s, color 0.5s;
}


.editFeature :hover {
    color: #5bf4ff;
}