@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
body {
    font-family: 'SF FONT regular', Arial, sans-serif;
}
.banner {
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-image: url('../image/event.webp');
    background-size: cover;
    
}
.banner h1 {
    color:#ffffff;
    text-align: center;
    padding-top: 220px;
    font-size: 90px;
}

.historyBox {
    margin: 50px 10% 100px;
    text-align: center;
}
.historyBox h1 {
    font-size: 40px;
    color:#D89D5B;
}
.historyText {
    font-size: 24px;
    text-align: left;
    color: rgb(80, 80, 80);
}
.philosophy {
    margin-top: 50px;
    font-size: 26px;
    color: black;
}

.section1 {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overview{
    width: 50%;
    font-style: oblique;
    font-size: 30px;
    line-height: 1.4;
    padding: 100px 8% 50px;
    color: cornflowerblue;
}
.navList{
    width: 50%;
    padding: 80px 8%;
    color: rgb(80, 80, 80);
    font-size: 22px;
    line-height: 2.2;
}
.navList a:hover {
    color:#df83d7;
    transition: transform 1s, color 1s;
    text-decoration: none;
}
.navList a {
    text-decoration: none;
    color:#15ac9f;
}

.whoWeAreTitle{
    width: 50%;
    font-size: 90px;
    padding: 150px 2% 20px 8%;
    color: darkturquoise;
}
.whoWeAreText{
    width: 50%;
    padding: 80px 8%;
    color: rgb(80, 80, 80);
    font-size: 22px;
}

.stakeholdersTitleResponsive {
    display: none;
}
.stakeholdersTitle{
    width: 50%;
    font-size: 70px;
    padding: 100px 8% 100px 2%;
    color: darksalmon;
}
.stakeholdersText{
    width: 50%;
    padding: 80px 8%;
    color: rgb(80, 80, 80);
    font-size: 22px;
}

.governanceCommitteeText{
    width: 50%;
    padding: 20px 5% 100px;
    color: rgb(80, 80, 80);
    font-size: 22px;
}
.governanceCommitteeTitle {
    font-size: 40px;
    color: #D89D5B;
    text-align: center;
}
.governanceCommitteePic {
    width: 50%;
    background-image: url('../image/event.webp');
    background-size: cover;
    min-height: 500px;
}

.members p{
    margin: 0em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .section1, .section2 {
        flex-direction: column;
    }

    .section1 div, .section2 div {
        width: 100%;
    }
    .whoWeAreTitle{
        font-size: 70px;
        text-align: left;
        padding: 50px 8% 0px;
    }
    .stakeholdersTitle{
        display: none;
    }
    .stakeholdersTitleResponsive {
        display: block;
        font-size: 60px;
        padding: 50px 8% 0px;
        text-align: right;
        color: darksalmon;
    }
}