@font-face {
    font-family: 'SF FONT bold'; 
    src: url('../../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
.roomHirebanner {
    height: 500px;
    width: 100%;
    background-image: url('../../image/NewImage/get involved.jpg');
    background-size: cover;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .roomHirebanner h1 {
    color:#ffffff;
    text-align: center;
    justify-content: center;
    font-size: 90px;
  }
/* .newsTitleHire {
    width: 100%;
    height: 200px;
    background-color: #3b9da6;
    color: #fcc846;
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
    margin-top: 100px;
} */

.roomHireContainer {
    margin: 30px;
}

.roomRow {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.imageContainer {
    flex: 1;
    padding-right: 5%;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.textContainer {
    flex: 2;
}

.textContainer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.textContainer p {
    font-size: 30px;
    color: #666;
    margin-bottom: 10px;
}

.textContainer button {
    background-color: #3b9da6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.textContainer button:hover {
    background-color: #AFDCE7;
}

.behindText {
    text-align: left;
    margin-top: 3vh; /* 调整文字与房间区块之间的间距 */
    font-size: 20px;
    color: #3b9da6;
}
.buttonContainer {
    display: flex;
    justify-content: center; /* 居中排列按钮 */
    margin-top: 5vh; /* 调整按钮与房间区块之间的间距 */
}

.downloadButton {
    background-color: #3b9da6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5vh; /* 调整按钮之间的间距 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.downloadButton:hover {
    background-color: #AFDCE7;
}

body {
    margin: 0;
    padding: 0;
  }
  
  .hero-head-container {
    background-color: #3b9da6;
    height: vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    object-fit: contain;
    box-sizing: border-box;
  }
  
  .hero-container {
    background-color: #AFDCE7;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  .hero-card-container {
    background-color: #AFDCE7;
    width: 100%;
    height: vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  
  .hero-head-container > h1 {
    color: #ffaa48;
    font-size: 5em;
    top:50%;
    left: 50%;
    font-family: 'SF FONT bold'; 
  }
  
  .hero-container > h1 {
    color: #000;
    font-size: 3.5em;
    margin-top: 0px;
    font-family: 'SF FONT bold';  
  }
  
  .hero-container > p {
    margin-top: 0.5em;
    color: #000;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
  }
  
  .timetable {
    color: black;
    background-color: white;
  }
  
  .room-hire-form {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;
    background-color: #B2E5E4;
    height: vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    object-fit: contain;
    box-sizing: border-box;
  }
  
  .room-hire-form > h1 {
    font-size: 50px;
    align-items: center;
    margin: 0;
    justify-content: center;
    font-family: 'SF FONT bold';  
  }
  
  .info-section {
    font-size: 20px;
    padding: 70px;
    white-space: pre-wrap;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 25px;
  }
  
  .info-section > p {
    font-weight: bold;
    color: red;
    font-family: Arial, sans-serif;
  }
  
  .info-section > a {
    color: blue;
  }
  
  @media screen and (max-width: 1100px) {
  
    .hero-container > h1 {
      font-size: 2.5em;
      margin-top: 0px;
      font-family: 'SF FONT bold';  
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  
    .hero-head-container > h1 {
      color: #ffaa48;
      font-size: 3.5em;
      top:50%;
      left: 50%;
      font-family: 'SF FONT bold'; 
    }
  
    .info-section {
      font-size: 15px;
      padding: 30px;
      white-space: pre-wrap;
      max-width: 1000px;
      align-items: center;
      justify-content: center;
      text-align: left;
      margin: 0 auto;
      font-family: Arial, sans-serif;
    }
  
}

@media screen and (max-width: 800px) {
    .newsTitleHire{
        height: 15vh;
        font-size: 20px;
    }
    .textContainer p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .behindText {
        font-size: 15px;
    }
    .textContainer button {
        padding: 5px 10px;
    }
}
@media screen and (max-width: 450px) {
    .newsTitleHire{
        height: 10vh;
        font-size: 15px;
    }
    .textContainer p{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .behindText {
        font-size: 10px;
    }
    .textContainer button {
        padding: 5px 10px;
    }
}